body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 80vh 20vh;
}

main{
    display: grid;
    grid-template-columns: repeat(40, 2.5%);
    grid-template-rows: repeat(25, 4%);
    background-color: #9ce9e9;
    width: 100%;
    height: 80vh;
}

main div:hover{
    border: 2px solid;
    border-color: white;   
}

.sky{
    background-color: #9ce9e9;
}

.leaves{
    background: url(images/leaves.png);
    background-size: cover;
}

.trunk{
    background: url(images/trunk.png);
    background-size: cover;    
}

.soil_with_grass{
    background: url(images/soil_with_grass.png);
    background-size: cover;
}

.soil{
    background: url(images/soil.png);
    background-size: cover;
}

.monster_face{
    background: url(images/monster_face.png);
    background-size: cover;
}

.monster_body{
    background: url(images/monster_body.png);
    background-size: cover;
}

.stone{
    background: url(images/stone.jpg);
    background-size: cover;
}

.coal{
    background: url(images/coal.png);
    background-size: cover;
}

.crystal{
    background: url(images/crystal.png);
    background-size: cover;
}

.diamond{
    background: url(images/diamond.jpg);
    background-size: cover;
}

.gold{
    background: url(images/gold.png);
    background-size: cover;
}

footer{
    width: 100%;
    height: 20vh;
    background-color: #122020;
    display: flex;
    justify-content: center;
}

.tools{
    display: flex;
    justify-content: center;
    margin-left: 40%;
    margin-right: 40%;
    margin-top: 3%;
    gap: 5%;
}

.tools div img{
    height: 100%;
    width: 100%;
}

.tools div img:hover{
    border: 2px solid;
    border-color: white;
}

#box{
    height: 60%;
    width: 50%;    
}

#ax{
    height: 40%;
    width: 30%;
    background-color: rgb(68, 68, 68);    
}

#spade{
    height: 40%;
    width: 30%;    
    background-color: rgb(68, 68, 68);
}

#pickaxe{
    height: 40%;
    width: 30%;    
    background-color: rgb(68, 68, 68);
}

#sword{
    height: 40%;
    width: 40%;
    background-color: rgb(68, 68, 68);
}

#restart_box{
    margin-top: 4%;
}